@model MunicipalTrashProgram.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
       
@if (Model.currentUser.Address_id != null)
{//user here
    <dt>Your Address:</dt>
    <dd>
        <tr>
            <td>
                <text><strong>House Number:</strong></text>
                @Model.currentUser.Address.HouseNumber
            </td>
            <td>
                <text> - <strong>Street:</strong></text>
                @Model.currentUser.Address.Street
            </td>
            <td>
                <text> - <strong>City:</strong></text>
                @Model.currentUser.Address.City
            </td>
            <td>
                <text> - <strong>State:</strong></text>
                @Model.currentUser.Address.State
            </td>
            <td>
                <text> - <strong>Zipcode:</strong></text>
                @Model.currentUser.Address.ZipCode
            </td>
            <td>
                |@Html.ActionLink("Edit", "Edit", "Addresses", new { id = Model.currentUser.Address.Address_id }, null)|
            </td>
        </tr>
        <dt>Your Pickup Day:</dt>
        <dd>
            <tr>
                <td>
                    @Model.currentUser.UserInfo.PickupDay
                </td>
                <td>
                    |@Html.ActionLink("Edit", "Edit", "UserInfoes", new { id = Model.currentUser.UserInfo.UserInfo_id }, null)|
                </td>
            </tr>
        </dd>
        @if (Model.currentUser.UserInfo.StartDate != null && Model.currentUser.UserInfo.EndDate > (DateTime?)DateTime.Now)
        {
            <dt>Your Vacation Dates:</dt>
            <dd>
                <tr>
                    <td>
                        |@Model.currentUser.UserInfo.StartDate|
                        to
                        |@Model.currentUser.UserInfo.EndDate|
                    </td>
                </tr>
            </dd>
        }
        <dt>Set Vacation Dates:</dt>
        <dd>
            <tr>
                <td>
                    |@Html.ActionLink("Set", "VacationPeriod", "UserInfoes")|
                </td>
            </tr>
        </dd>
        <dt>Your Bill:</dt>
        <dd>
            <tr>
                <td>
                    <text><strong>Month to date:</strong></text>
                    $@Model.currentUser.UserInfo.MonthlyBill
                </td>
                <td>
                    <text> - <strong>Year to date:</strong></text>
                    $@Model.currentUser.UserInfo.YearlyBill
                </td>
                <td>
                    <text> - <strong>Total to date:</strong></text>
                    $@Model.currentUser.UserInfo.TotalBill
                </td>
            </tr>
        </dd>
    </dd>
}
else {
        <dt>Your Route's Zip Code:</dt>
        <dd>
            <tr>
                <td>
                    @Model.currentUser.Worker.WorkingZipCode
                </td>
                <td>
                    |@Html.ActionLink("Edit", "Edit", "Workers", new { id = Model.currentUser.Worker.Worker_id }, null)|
                </td>
            </tr>
        </dd>
        <dt>Work Area:</dt>
        <dd>
            <tr>
                <td>
                    @Html.ActionLink("Show today's Pickups","Index", "Workers", new { id = Model.currentUser.Worker.Worker_id }, null)
                </td>
            </tr>
        </dd>
        }
        


<dt>Password:</dt>
<dd>
    @if (Model.HasPassword)
    {
        @Html.ActionLink("Change your password", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }
</dd>
</dl>



</div>
